@model BankingApp.Models.ViewModels.AccountViewModels 

@{
    ViewData["Title"] = "All Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Accounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          @*  <th>
                @Html.DisplayNameFor(model => model.AccountID)
            </th>*@
            <th>
                AccountName
            </th>
            <th>
                Balance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Accounts != null)
        {
            if (Model.Accounts.Count() > 0)
            {
                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        @* <td>
                            @Html.DisplayFor(modelItem => item.AccountID)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                           @(item.Balance == null ? "0.00": Html.DisplayFor(modelItem => item.Balance)) 
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {   id=item.AccountID   }) |
                            @Html.ActionLink("Details", "Details", new {  id=item.AccountID  }) |
                            @Html.ActionLink("Delete", "Delete", new {   id=item.AccountID   })
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr><td colspan="3">No Accounts available yet. Please click <a asp-action="Create">Create New account </a> to get started.</td></tr>
            } 
        }
        else //If Object is null, page should not break or divulge sensitive exception messages to the public.
        {
            <tr><td  colspan="3">No Accounts available yet.  </td></tr>
        } 
    </tbody>
</table>
